{% extends 'base.html.twig' %}

{% block body %}
        <div class="container">
            <h1>Le petit coin</h1>
            <p>Bientôt, un super site !</p>
        </div>
{% endblock %}

{% block stylesheets %}
<style>
</style>
{% endblock %}
